html{
  font-family: arial;
}

header{
  font-size: 30px;
  margin: 20px 15px 20px 10px;
}

.main-section:not(first-of-type){
  display: block;
  margin-bottom: 50px;
}

nav{
  display: block;
  border: solid;
  border-color: #858585;
  text-align: center;
  margin-bottom: 50px;
}


nav div{
  display: flex;
  width: 100%;
}

a:not(.external){
  text-decoration: none;
  color: #4d4d4d;
  display: block;
  border: solid;
  border-color: #e3e1e1;
  height: 25px;
  padding-top: 5px;
}

@media screen and (max-width: 950px){
  nav div{flex-direction: column;}
  a:not(.external,:first-of-type){
    margin-top: -3px;
  }
}

@media screen and (min-width: 950px){
  nav div{flex-direction: row;}
  a:not(.external){
    width: 100%;
  }
  a:not(:first-of-type){
    margin-left: -3px;
  }
}


p{
  width: 90%;
  margin: 10px auto;
  text-align: justify;
}

li{
  padding-bottom: 5px;
  width: 90%;
  margin: auto;
}

code{
  background-color: #e3e1e1;
  padding: 5px 10px;
  border-radius: 10px;
}

code:not(.inline){
  display: block;
  padding: 15px;
  padding-left: 20px;
  width: 80%;
  margin: 20px auto;
}